:root{
    --vermelha: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
background: var(--preta);
font-family: 'Arial', Times, serif;
color: white;
}

    
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline;
}

header .container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mini {
    margin-left: 50px;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelha);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 35px;   
}


header nav a{
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff; 
}

.botao2{
    text-decoration: none;
}



/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-house.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


/*Criar icones no html - https://fontawesome.com/  */

.botao{
    background-color: rgba(0,0,0,50%);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao3{
    background-color: var(--preta);
    border: none;
    color: white;
    font-size: 120%;
    margin: 0% 0% 0% 2500%;
}
.botao4{
    background-color: var(--preta);
    border: none;
    color: white;
    font-size: 120%;
    margin: 0% 0% 0% 2900%;
}

.botao5{
    background-color: var(--preta);
    border: none;
    color: white;
    font-size: 120%;
    margin: 0% 0% 0% 3500%;
}

.botao6{
    background-color: rgba(0,0,0,50%);
    border: none;
    color: rgba(218, 91, 18, 0.932);
    font-size: 120%;
    margin: 0% 0% 0% 2850%;
}

.social-link {
    background-color: none;
    color: grey;
    font-size: 220%;
    margin-left: 30px;
}
 
.member-footer-links {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color: none;
    list-style:none;
    font:80% Tahoma;
}

.member-footer-links li { 
    display: inline;
}

.member-footer-links li a {
    background-color: none;
    color:white;
    text-decoration: none;
    border-bottom: none;
    padding: 10px 10px;
    float:left;
    margin: 20px;
}

.member-footer-links li a:hover {
    background-color:none;
    color: #6D6D6D;
}

.infantil{
    margin: 0% 0% 0% 730%;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.box-filme2{
    max-width: 120%;
    max-height: 200px;
    height: 100%;
    width: 100%;
    display: block;
}



.carrosel-filmes{
    margin: 0% 0% 0% 3%; 
    
}

.minha_lista{
    margin: 0% 0% 0% 3%; 
}

.lista{
    margin: 2% 0% 1% 3%;
}





